In [1]:
import pandas as pd

In [2]:
# Read in the purchasing data file and place them into our dataframe purchase_df
purchase_df = pd.read_csv('purchase_data.csv')

# Print out the first 5 lines of the dataframe
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [28]:
# This cell doesn't create something used later, but checks that all rows have all values in them (no empty cells)
# We will assume that the equal numbers mean that all rows are full, not that each column has an equal number of blanks
# If errors pop up later we will revisit this assumption
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [18]:
# Retrieve all of the unique names in the SN or screen name column and place them into a numpy array screennames
screennames = purchase_df['SN'].unique()

# The .nunique() counts the number of unique players (which are stored in the screennames array)
playernum = purchase_df['SN'].nunique()

# Display the desired value in text format
print("Total Number of Players: " + str(playernum))

# Place the data into a datafram to match the desired formatting
total_df = pd.DataFrame({"Total Players": [playernum]})
total_df

Total Number of Players: 576

   Total Players
0            576

In [31]:
# Calculate the number of unique items in the same way as above
itemnum = purchase_df['Item Name'].nunique()

# Calculate the average price of all items purchased using .mean()
avgprice = purchase_df['Price'].mean()

# Since we checked above that all cells are filled just choose one of them to count
purchasenum = purchase_df['Purchase ID'].count()

# Sum up the final column to get the total revenue generated
stacksgenerated = purchase_df['Price'].sum()

# Create the raw dataframe before formatting
summary_df = pd.DataFrame({'Number of Unique Items':[itemnum], 
                          'Average Price':[avgprice], 
                          'Number of Purchases':[purchasenum], 
                          'Revenue Generated':[stacksgenerated]})

,Number of Unique Items,Average Price,Number of Purchases,Revenue Generated
0,179,3.050987,780,2379.77